nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0px 140px;
    background-color: #131414;
    height: 80px;
    color: rgb(214, 202, 202);
    
}
.headerItem
{
   
    display: flex;
    align-items: center;
    
   
}
.navItem
{
    margin-right: 20px;
    text-decoration: none;
}